#include <iostream>
using namespace std;
int main()
{
  const double NORMAL = 98.6;
  double temperature;
  cout<<"Enter your temperatur:"<<endl;
  cin>>temperature;
  cout<<"Your temperature is;"<< temperature << endl;
  cout<<"A normal temperature should be"<<NORMAL<<endl;
  return 0;
